.features__list {
  display: flex;
  flex-direction: column;
  min-height: 256px;
  margin: 0;
  padding: 7px 0 37px;

  list-style: none;
  text-align: left;

  background-color: @white-two;
}

.features__item {
  position: relative;

  padding: 28px 20px 0 21.875%;

  background-repeat: no-repeat;
  background-size: 39px 37px;
  &--housing {
    background-image: url("../img/icon-house.svg");
    background-position: 21px 19px;
  }
  &--souvenirs {
    background-image: url("../img/icon-gift.svg");
    background-position: 22px 17px;
  }
  &--food {
    background-image: url("../img/icon-burger.svg");
    background-position: 19px 22px;
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.features__item-descr {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: @black-two;
}

@media @tablet-widths {
  .features__list {
    flex-direction: row;

    text-align: center;
  }

  .features__item {
    flex-grow: 1;
    flex-basis: 33%;
    padding: 152px 40px 24px;
    &--housing {
      order: 1;
      padding-right: 45px;
      padding-left: 45px;

      background-position: 50% 53px;
      background-size: 75px 72px;
    }
    &--souvenirs {
      order: 3;

      background-position: 50% 50px;
      background-size: 64px 75px;
    }
    &--food {
      order: 2;
      padding-right: 50px;
      padding-left: 50px;

      background-position: 50% 56px;
      background-size: 77px 68px;
    }
  }

  .features__item-title {
    margin-bottom: 21px;

    font-size: 21px;
  }
}

@media @desktop-widths {
  .features__item {
    padding-bottom: 45px;
    &--food {
      padding-right: 65px;
      padding-left: 65px;
    }
    &--souvenirs {
      padding-right: 102px;
      padding-left: 102px;
    }
  }
}
