.field-checkbox__input {
  display: none;
}

.field-checkbox__label {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 25%;

  font-size: 18px;
  line-height: 30px;

  cursor: pointer;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 25;

    transition: border-color 0.1s linear, opacity 0.1s linear;
  }
  &::before {
    left: 0;

    box-sizing: border-box;
    width: 39px;
    height: 39px;

    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }
  &::after {
    top: 15px;
    left: 9px;

    width: 22px;
    height: 16px;

    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
    opacity: 0;
  }
  &:hover::before {
    border-color: #283645;
  }
  &:active::before {
    border-color: #d22856;
  }
  &:active::after {
    opacity: 1;
  }
}

#achieve-1:checked + .field-checkbox__label::after,
#achieve-2:checked + .field-checkbox__label::after,
#achieve-3:checked + .field-checkbox__label::after,
#achieve-4:checked + .field-checkbox__label::after,
#achieve-5:checked + .field-checkbox__label::after,
#achieve-6:checked + .field-checkbox__label::after {
  opacity: 1;
}
#achieve-1:checked + .field-checkbox__label:active::after,
#achieve-2:checked + .field-checkbox__label:active::after,
#achieve-3:checked + .field-checkbox__label:active::after,
#achieve-4:checked + .field-checkbox__label:active::after,
#achieve-5:checked + .field-checkbox__label:active::after,
#achieve-6:checked + .field-checkbox__label:active::after {
  opacity: 0;
}

@media @tablet-widths {
  .field-checkbox__label {
    padding-left: 12%;
  }
}

@media @desktop-widths {
  .field-checkbox__label {
    padding-left: 22%;
  }
}
