@keyframes bounce-failure {
  0% {
    transform: translate(-50%, -1000%);
  }
  70% {
    transform: translate(-50%, -45%);
  }
  90% {
    transform: translate(-50%, -55%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.modal-failure {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;

  display: none;
  box-sizing: border-box;
  width: 320px;
  padding: 40px 0 35px;

  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 5px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);

  animation: bounce-failure 0.6s;
}

.modal-failure--show {
  display: block;
}

.modal-failure__title {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.modal-failure p {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 23px;

  font-size: 14px;
  line-height: 24px;
  color: @black-two;
}

.modal-failure__close {
  box-sizing: border-box;
  width: 180px;
  margin: 0 auto;
  padding: 16px 70px 17px;

  font-size: 18px;
}

@media @tablet-widths {
  .modal-failure {
    width: 400px;
    padding: 55px 0 49px;
  }

  .modal-failure__title {
    width: 215px;
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 40px;
  }

  .modal-failure p {
    width: 280px;
    margin-bottom: 33px;
  }

  .modal-failure__close {
    width: 272px;

    font-size: 21px;
  }
}
