.promo {
  padding: 90px 0 85px;

  background-color: @light-grey-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;

  .container-fluid();
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.promo__img {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
}

@media @tablet-widths {
  .promo {
    padding: 77px 0 91px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 1200px 518px;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo__img {
    width: 460px;
    height: 350px;
  }
}


//   background-position: left 0 top 175px, 50% 0;
//   background-size: 258px 286px, 700px auto;
//   @media (min-resolution: 144dpi),
//   (min-resolution: 1.5dppx) {
//     background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
//   }
//   &--inner {
//     box-sizing: border-box;
//     min-height: 240px;
//     padding: 99px 20px 54px;

//     background-image: url("../img/bg-back-mobile@1x.jpg");
//     background-position: 50% 0;
//     background-size: 700px auto;
//     @media (min-resolution: 144dpi),
//     (min-resolution: 1.5dppx) {
//       background-image: url("../img/bg-back-mobile@2x.jpg");
//     }
//   }
// }

// .promo__title {
//   display: none;
// }

// .promo--inner .promo__title {
//   display: block;
//   width: 230px;
//   margin: 0 auto;

//   font-weight: 300;
//   font-size: 24px;
//   line-height: 29px;
//   text-align: center;
//   color: #ffffff;
// }

// .promo__download {
//   padding: 489px 20px 30px;

//   text-align: center;
// }

// .promo__btn {
//   display: inline-block;
//   box-sizing: border-box;
//   width: 100%;
//   margin-bottom: 33px;
//   padding: 15px 35px 17px 36px;

//   font-weight: 700;
//   font-size: 18px;
//   line-height: 18px;
//   text-align: center;
//   color: @white;
//   text-decoration: none;

//   border: 3px solid @white;
//   border-radius: 3em;
//   outline: none;

//   transition: background-color 0.1s linear, color 0.1s linear;
//   &:hover,
//   &:focus {
//     color: @lipstick;

//     background-color: @white;
//   }
//   &:active {
//     color: rgba(210, 40, 86, 0.3);
//   }
// }

// .promo__download-list {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   max-width: 240px;
//   margin: 0 auto;
//   margin-bottom: 14px;
//   padding: 0;

//   list-style: none;
// }

// .promo__download-item a {
//   outline: none;

//   transition: opacity 0.1s linear;
//   &:hover,
//   &:focus {
//     opacity: 0.7;
//   }
// }

// .promo__download p {
//   margin: 0;

//   font-weight: 300;
//   font-size: 14px;
//   line-height: 24px;
//   color: @white;
// }

// @media @tablet-widths {
//   .promo {
//     background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
//     background-position: 80% 100%, 50% 0;
//     background-size: 700px 545px, cover;
//     @media (min-resolution: 144dpi),
//     (min-resolution: 1.5dppx) {
//       background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
//     }
//     &--inner {
//       padding: 180px 0 140px;

//       background-image: url("../img/bg-back-tablet@1x.jpg");
//       background-position: 50% 0;
//       background-size: 1200px, auto;
//       @media (min-resolution: 144dpi),
//       (min-resolution: 1.5dppx) {
//         background-image: url("../img/bg-back-tablet@2x.jpg");
//       }
//     }
//   }

//   .promo__wrapper {
//     position: relative;

//     box-sizing: border-box;
//     padding: 203px 0 110px 0;

//     .container-fluid();
//   }

//   .promo__title {
//     display: block;
//     box-sizing: border-box;
//     width: 186px;
//     margin: 0;
//     margin-bottom: 30px;
//     margin-left: 54px;

//     font-weight: 300;
//     font-size: 40px;
//     line-height: 48px;
//     text-align: center;
//     color: @white;
//   }

//   .promo--inner .promo__title {
//     width: 475px;

//     font-size: 50px;
//     line-height: 60px;
//   }

//   .promo__download {
//     width: 300px;
//     padding: 0;
//   }

//   .promo__btn {
//     margin-bottom: 45px;
//   }

//   .promo__download-list {
//     margin-bottom: 30px;
//   }

//   .promo__download p {
//     font-size: 18px;
//     line-height: 24px;
//   }
// }

// @media @desktop-widths {
//   .promo {
//     background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
//     background-position: 80% 100%, 50% 0;
//     background-size: 1050px 645px, cover;
//     @media (min-resolution: 144dpi),
//     (min-resolution: 1.5dppx) {
//       background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
//     }
//     &--inner {
//       padding: 173px 0 101px;

//       background-image: url("../img/bg-back-desktop@1x.jpg");
//       background-position: 50% 0;
//       background-size: 2560px auto;
//       @media (min-resolution: 144dpi),
//       (min-resolution: 1.5dppx) {
//         background-image: url("../img/bg-back-desktop@2x.jpg");
//       }
//     }
//   }
//   .promo__wrapper {
//     padding: 218px 0 122px 0;
//   }

//   .promo__title {
//     width: 300px;
//     margin-bottom: 52px;
//     margin-left: 0;

//     font-size: 50px;
//     line-height: 60px;
//   }

//   .promo--inner .promo__title {
//     width: 800px;
//   }

//   .promo__download {
//     bottom: 120px;
//     left: 0;

//     width: 300px;
//   }

//   .promo__btn {
//     margin-bottom: 67px;
//     padding: 14px 28px 17px 28px;

//     font-size: 21px;
//   }

//   .promo__download-list {
//     margin-bottom: 48px;
//   }
// }
